{% extends 'base.html' %}
<head>
  
{% block meta %}

<div class="container">
  <div class="d-flex justify-content-center p-4">
  </div>
</div>
{% endblock meta %} 

{% block content %}
  <section class="h-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            {% if messages %}
        {% for message in messages %}
        <div class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
              <div class="toast-body">
                Hello, world! This is a toast message.
              </div>
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
          </div>
        {% endfor %}
    {% endif %}
    
          <form method="POST" class="d-flex flex-column">
            {% csrf_token %}
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="text" id="username" name="username" class="form-control form-control-lg" />
              <label class="form-label" for="username">Username</label>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="password" name="password" class="form-control form-control-lg" />
              <label class="form-label" for="password">Password</label>
            </div>
  
            <div class="d-flex justify-content-end align-items-center mb-4">
              <!-- Checkbox -->
              <a href="#!">Forgot password?</a>
            </div>
  
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block w-100">Sign in</button>
  
            <div class="divider d-flex align-items-center my-4 w-100 text-white">
              <p class="text-center fw-bold mx-3 mb-0 block w-100">OR</p>
            </div>
            <p>
                New to Series Tracker?
            </p>
            <a class="btn btn-primary btn-lg btn-block w-100" style="background-color: #3b5998" href="{% url 'main:register' %}"
              role="button">Sign up
            </a>
          </form>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}