{% extends 'base.html' %} {% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand px-3" href="#">Series Tracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container py-5">
  <div class="row ps-4">
    <h5>Welcome {{name}} from class {{class}}!</h5>
  </div>

  <div id="series-display" class="row p-4"></div>
  
  <div class="row">
    <div class="col pb-2 ps-4 d-flex">
      <div class="block me-5">
        <a href="{% url 'main:create_series' %}" class="btn btn-info text-white">Add New Series</a>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Add Series by AJAX
        </button>
      </div>
      <a href="{% url 'main:logout' %}" class="btn btn-danger">Logout</a>
    </div>
  </div>
  <div class="row">
    <small class="text-muted">Sesi terakhir login: {{ last_login }}</small></p>
  </div>
</div>

<div class="modal fade text-dark" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Book</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form id="form" onsubmit="return false;">
                  {% csrf_token %}
                  <div class="mb-3">
                      <label for="name" class="col-form-label">Name:</label>
                      <input type="text" class="form-control" id="name" name="name"></input>
                  </div>
                  <div class="mb-3">
                      <label for="amount" class="col-form-label">Episodes:</label>
                      <input type="number" class="form-control" id="amount" name="amount"></input>
                  </div>
                  <div class="mb-3">
                      <label for="description" class="col-form-label">Description:</label>
                      <textarea class="form-control" id="description" name="description"></textarea>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Series</button>
          </div>
      </div>
  </div>
</div>

<script>
  async function getSeries() {
      return fetch("{% url 'main:show_json' %}").then((res) => res.json())
  }

  async function refreshSeries() {
        const seriesDisplay = document.getElementById("series-display")
        seriesDisplay.innerHTML = ""

        const series = await getSeries()
        
        console.log(series)
        
        series.forEach((item) => {
          const cardCol = document.createElement("div")
          cardCol.classList.add("col")

          cardCol.innerHTML = `
            <div id = "item_cards" class="card border-danger text-white bg-dark mb-3 p-3" style="width: 300px;">
              <div class="card-body">
                <h4 class="card-title">${item.fields.name}</h4>
                <span class="card-subtitle">${item.fields.description}</span>
                <p class="card-text"><small class="text">${item.fields.amount} total episodes</small></p>
                <a href="/edit-series/${item.pk}" class="btn btn-primary">Edit</a>
                <a href="/delete-series/${item.pk}" class="btn btn-danger">Delete</a>
              </div>
            </div>
            `
          
            seriesDisplay.appendChild(cardCol)
        })
      }

      refreshSeries()

      function addSeries() {
        fetch("{% url 'main:add_series_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshSeries)

        document.getElementById("form").reset()
        return false
    }

  document.getElementById("button_add").onclick = addSeries
</script>
{% endblock content %}